@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #061930;
  background: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

header {
  margin-top: 0;
  padding: 1vw;
  background: #ffffff;
  color: #061930;
}
header h1 {
  font-size: calc(30px + 1vw);
}
header img {
  display: inline-block;
  float: left;
  margin: 0 auto;
  max-width: 8vw;
}

.content {
  margin-left: 10px;
}
.content h1 {
  margin-top: 10px;
  font-size: 60px;
}
.content h1 .smaller {
  font-size: 40px;
  color: #a3b7c5;
}
.content .lead {
  font-size: 25px;
  color: #f2b7bd;
}
.content .lead .font-normal {
  color: #061930;
}


.footer {
  color: chartreuse;
}


footer {
  position: fixed;
  margin-top: 50px;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
  padding: 1vw;
  color: white;
  background-color: #a3b7c5;
  font-size: calc(10px + .5vw);
}

